body {
    background-image: url(./assets/Coding-Challenge-Image.png);
}

h1 {
    font-family: 'Arvo', serif;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    background-color: #E7A562;
    opacity: .95;
}

.nav-item .nav-link {
    color: #fff;
}

img {
    transition: 1s;
}

.landing-header {
    font-size: 6em;
    color: rgba(255,255,255, 1);
}

.landing-container {
    background-color: rgba(231, 165, 98, .95);
    margin-top: 2em;
}

.button-animation {
    position: fixed;
    margin-top: 1em;
}

.content-container {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    border-radius: 4px;
    transition: 2s;
    width: 0px;
    height: 0px;
}

.content-container.animation {
    background-color: rgba(255, 255, 255, 1);
    opacity: 100;
    width: 400px;
    height: 350px;
    transition: 1s;
}

.content-content {
    transition: 2s;
    opacity: 0;
    margin: 10px;

}

.content-content.delayedAnimation {
    opacity: 100;
}


