body {
    background-image: url(./assets/Coding-Challenge-Image.png);
}

h1 {
    font-family: 'Arvo', serif;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    background-color: #E7A562;
    opacity: .95;
}

.nav-item .nav-link {
    color: #fff;
}

.landing-header {
    font-size: 6em;
    color: rgba(255,255,255, 1);
}

.landing-container {
    background-color: rgba(231, 165, 98, .95);
    margin-top: 2em;
}

.content-container {
    background-color: #fff;
    opacity: 0;
    width: 30%;
}


